﻿@model IEnumerable<ProyectoAlumno.Models.Alumno>
@{
    ViewBag.Title = "Listado Alumnos";
}



<div class="row" style="margin-top:2em">
    <div class="container">
        <div class="row col-md-10 col-md-offset-1 custyle">
            <table class="table table-striped custab">
                <thead>
                    <a href="@Url.Action("Create","Home")" class="btn btn-primary btn-xs pull-right"><b>+</b> Adicionar Alumno</a>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Género</th>
                        <th>Fecha de Ingreso</th>
                        
                        <th class="text-center">RFC</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.nombre</td>
                        <td>@item.apellidoPaterno</td>
                        <td>@item.apellidoMaterno</td>
                        <td>@item.fechaNacimiento</td>
                        <td>@item.genero</td>
                        <td>@item.fechaIngreso</td>
                       
                        <td>@item.RFC</td>
                             </tr>

                    }

                </tbody>

               
            </table>
        </div>
    </div>

</div>